{% extends 'index.html' %}

{% block title %}<title>Homepage</title>{% endblock %}

{% block css %}
<link href="../static/styles/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="start">
    <img class="startimg" src="../static/pictures/startbg.jpg">
    <a href="{{url_for('menu')}}">
        <button class="startbtn" type="button">Start your order</button>  
    </a>
  
</div>
<h2>About us</h2>
<div class="about">
    <p>Welcome to pizzeria "Gallo" <br>
        Mēs atrodamies Rīgā un gaidām ciemos visus!<br>
        Šeit jūs varat nobaudīt labāko picu</p>
</div>
<h2>Contact</h2>
<div class="contact">
    <table>
        <tr>
            <th><b>Contact address</b></th>
            <th><b>Telephone</b></th>
            <th><b>E-mail</b></th>
        </tr>
        <tr>
            <td>Pica iela 5<br>1983AP</td>
            <td>+31 6 09 07 19 81</td>
            <td>info@gallo.com</td>
        </tr>
    </table>
</div>
{% endblock %}