{% extends 'index.html' %}

{% block title %}<title>Payment</title>{% endblock %}

{% block css %}
<link href="../static/styles/payment.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="methods">
  <div class="imgContainer">
    <img src="../static/pictures/visa.jpg" ;>
  </div>
  <div class="imgContainer">
    <img src="../static/pictures/payPal.png" ;>
  </div>
  <div class="imgContainer">
    <img src="../static/pictures/mastercard.png" ;>
  </div>
</div>
<div class="bank">
  <p>Please select your bank</p>
</div>

<div class="buttons">
  <a href="./Order.html">
    <button class="startbtn" type="button">Previous</button>
  </a>
</div>

{% endblock %}