.PizzaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item1 {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
  border-top-left-radius: 25px;
  background-color: #4CAF50;
}

.grid-item2 {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: right;
  border-top-right-radius: 25px;
  background-color: #4CAF50;
}

.grid-item3 {
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

.grid-item4 {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: right;
  background-color: rgb(255, 255, 255);

}

.grid-item5 {
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

.grid-item6 {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: right;
  background-color: rgb(255, 255, 255);

}

.grid-item7 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: left;
  border-bottom-left-radius: 25px;
  background-color: rgb(255, 255, 255);
}

.grid-item8 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: right;
  border-bottom-right-radius: 25px;
  background-color: rgb(255, 255, 255);
}

.addremove {
  border-radius: 100%;
  aspect-ratio: 1/1;
  padding: 10px 20px 10px 20px;
}