.stage {
  text-align: center;
  font-size: x-large;
  margin: auto;
  padding-bottom: 3%;
  align-items: center;
  margin-top: 1%;
}

.contents {
  display: space-between;
  align-items: center;
  float: left;
  width: 80%;
  text-align: center;
  border: 2px;
  margin-left: 5%;
  font-size: xx-large;
  padding: 1%;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.order {
  border: 1px;
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  background: #4CAF50;
  padding-bottom: 8%;
  margin-top: -1%;
}

.ordernr {
  border: 3px;
  padding: 1%;
  text-align: center;
  background-color: #FFFFFF;
  float: left;
  border-radius: 5px;
}