.active {
  color: var(--color-active);
  cursor: default;
}

.linkColor {
  color: rgb(251, 251, 251);
  margin-left: 10px;
  text-decoration: none;

}

.bucketLinkColor{
  color: rgb(251, 251, 251);
  text-decoration: none;
}
